examples/ex_gain.json
[{"id":"a3424845595799b5","type":"tab","label":"gain","disabled":false,"info":"","env":[]},{"id":"1843efb88105de0b","type":"junction","z":"a3424845595799b5","x":180,"y":120,"wires":[["f9b4eabd7d6a408b"]]},{"id":"f9b4eabd7d6a408b","type":"soundweb-Control","z":"a3424845595799b5","name":"","topic":"","server":"d388077c45cd6610","command":"136","scale":"2","address":"[0,9,3,0,1,0,78,32]","addressType":"bin","x":310,"y":120,"wires":[["57bc8257c7a00738"]]},{"id":"da5a13a5d9ceb079","type":"inject","z":"a3424845595799b5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":80,"wires":[["1843efb88105de0b"]]},{"id":"592fd026134cd094","type":"inject","z":"a3424845595799b5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-10","payloadType":"num","x":90,"y":120,"wires":[["1843efb88105de0b"]]},{"id":"4327f77deb0257ed","type":"inject","z":"a3424845595799b5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-60","payloadType":"num","x":90,"y":160,"wires":[["1843efb88105de0b"]]},{"id":"57bc8257c7a00738","type":"debug","z":"a3424845595799b5","name":"gain","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"d388077c45cd6610","type":"soundweb-server","host":"10.0.0.234","port":"1023","connection_logging":"true","communication_logging":"false"}]