examples/ex_parameter_presets.json
[{"id":"9ad77453b3d77ef6","type":"tab","label":"parameter presets","disabled":false,"info":"","env":[]},{"id":"38c28c843055c54a","type":"junction","z":"9ad77453b3d77ef6","x":220,"y":100,"wires":[["6fda34d1a684f7bf"]]},{"id":"6fda34d1a684f7bf","type":"soundweb-Presets","z":"9ad77453b3d77ef6","name":"","topic":"","server":"d388077c45cd6610","command":"140","x":350,"y":100,"wires":[]},{"id":"e25cd40d6725182c","type":"inject","z":"9ad77453b3d77ef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":40,"wires":[["38c28c843055c54a"]]},{"id":"2b9d8711dad8470f","type":"inject","z":"9ad77453b3d77ef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":80,"wires":[["38c28c843055c54a"]]},{"id":"30e77247edee9175","type":"inject","z":"9ad77453b3d77ef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":110,"y":120,"wires":[["38c28c843055c54a"]]},{"id":"3ab22e9e9eaf24e0","type":"inject","z":"9ad77453b3d77ef6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":110,"y":160,"wires":[["38c28c843055c54a"]]},{"id":"d388077c45cd6610","type":"soundweb-server","host":"10.0.0.234","port":"1023","connection_logging":"true","communication_logging":"false"}]