examples/ex_parameter_presets.json
[{"id":"59f0f554f93f61cb","type":"tab","label":"mute","disabled":false,"info":"","env":[]},{"id":"23363e09bf4c9235","type":"junction","z":"59f0f554f93f61cb","x":180,"y":100,"wires":[["af3de10c3ef2136f"]]},{"id":"af3de10c3ef2136f","type":"soundweb-Control","z":"59f0f554f93f61cb","name":"","topic":"","server":"d388077c45cd6610","command":"136","scale":"0","address":"[0,9,3,0,1,0,78,33]","addressType":"bin","x":310,"y":100,"wires":[["cdc26726aa68f05f"]]},{"id":"eff848013cc44902","type":"inject","z":"59f0f554f93f61cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":80,"wires":[["23363e09bf4c9235"]]},{"id":"e6622b5348800477","type":"inject","z":"59f0f554f93f61cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":120,"wires":[["23363e09bf4c9235"]]},{"id":"cdc26726aa68f05f","type":"debug","z":"59f0f554f93f61cb","name":"mute","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"d388077c45cd6610","type":"soundweb-server","host":"10.0.0.234","port":"1023","connection_logging":"true","communication_logging":"false"}]