examples/ex_soundweb-dbGain.json
[
    {
        "id": "b808bfbecab9467d",
        "type": "tab",
        "label": "soundweb-dbGain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "039149f2e96d9e36",
        "type": "junction",
        "z": "b808bfbecab9467d",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "01d5502d15917b77"
            ]
        ]
    },
    {
        "id": "75be45758a7b2fa9",
        "type": "debug",
        "z": "b808bfbecab9467d",
        "name": "soundweb-dbGain",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "01d5502d15917b77",
        "type": "soundweb-dbGain",
        "z": "b808bfbecab9467d",
        "name": "",
        "topic": "",
        "server": "5360e8d16d24bed6",
        "address": "[0,9,3,0,1,0,0,0]",
        "addressType": "bin",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "75be45758a7b2fa9"
            ]
        ]
    },
    {
        "id": "32b96062ce029306",
        "type": "inject",
        "z": "b808bfbecab9467d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-50",
        "payloadType": "num",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "039149f2e96d9e36"
            ]
        ]
    },
    {
        "id": "a6646a6c14e240f8",
        "type": "inject",
        "z": "b808bfbecab9467d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "039149f2e96d9e36"
            ]
        ]
    },
    {
        "id": "1bf5690f659c3e4f",
        "type": "inject",
        "z": "b808bfbecab9467d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "039149f2e96d9e36"
            ]
        ]
    },
    {
        "id": "49c758e4300cb68e",
        "type": "comment",
        "z": "b808bfbecab9467d",
        "name": "Control a level fader",
        "info": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "5360e8d16d24bed6",
        "type": "soundweb-server",
        "host": "10.0.0.234",
        "port": "1023"
    }
]