examples/ex_soundweb-gain.json
[
    {
        "id": "d2ab3aa4da536f58",
        "type": "tab",
        "label": "Gain",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c1a549dfc9ecaec",
        "type": "junction",
        "z": "d2ab3aa4da536f58",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "6a9f20bc48664b6d"
            ]
        ]
    },
    {
        "id": "399a64d5ae2b8c7e",
        "type": "soundweb-dbGain",
        "z": "d2ab3aa4da536f58",
        "name": "gain",
        "topic": "",
        "server": "452ed4c5da9c7ed8",
        "address": "[0,9,3,0,1,0,0,0]",
        "addressType": "bin",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "6a9f20bc48664b6d",
                "6e72a5ecec720faa"
            ]
        ]
    },
    {
        "id": "6e72a5ecec720faa",
        "type": "ui_slider",
        "z": "d2ab3aa4da536f58",
        "name": "Gain",
        "label": "",
        "tooltip": "",
        "group": "bf3bb3f9d639b54c",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-80",
        "max": 10,
        "step": "0.1",
        "className": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "399a64d5ae2b8c7e",
                "6c1a549dfc9ecaec"
            ]
        ]
    },
    {
        "id": "40f8dd5453eb9d33",
        "type": "ui_switch",
        "z": "d2ab3aa4da536f58",
        "name": "",
        "label": "mute",
        "tooltip": "",
        "group": "bf3bb3f9d639b54c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "a361ce18cb3c1fc7"
            ]
        ]
    },
    {
        "id": "a361ce18cb3c1fc7",
        "type": "soundweb-discrete",
        "z": "d2ab3aa4da536f58",
        "name": "mute",
        "topic": "",
        "server": "452ed4c5da9c7ed8",
        "address": "[0,9,3,0,1,0,0,1]",
        "addressType": "bin",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "40f8dd5453eb9d33"
            ]
        ]
    },
    {
        "id": "767604665854ba1a",
        "type": "ui_button",
        "z": "d2ab3aa4da536f58",
        "name": "",
        "group": "bf3bb3f9d639b54c",
        "order": 2,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": "<",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "9d3cd3eefa8363ed"
            ]
        ]
    },
    {
        "id": "85bda79e383fdd8d",
        "type": "ui_button",
        "z": "d2ab3aa4da536f58",
        "name": "",
        "group": "bf3bb3f9d639b54c",
        "order": 4,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": ">",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "93b01d722d9ce4e4"
            ]
        ]
    },
    {
        "id": "93b01d722d9ce4e4",
        "type": "soundweb-discrete",
        "z": "d2ab3aa4da536f58",
        "name": "bump up",
        "topic": "",
        "server": "452ed4c5da9c7ed8",
        "address": "[0,9,3,0,1,0,0,3]",
        "addressType": "bin",
        "x": 300,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9d3cd3eefa8363ed",
        "type": "soundweb-discrete",
        "z": "d2ab3aa4da536f58",
        "name": "bump down",
        "topic": "",
        "server": "452ed4c5da9c7ed8",
        "address": "[0,9,3,0,1,0,0,4]",
        "addressType": "bin",
        "x": 310,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7e4ad2b79ea59383",
        "type": "soundweb-dbGain",
        "z": "d2ab3aa4da536f58",
        "name": "meter",
        "topic": "",
        "server": "452ed4c5da9c7ed8",
        "address": "[0,9,3,0,1,3,0,0]",
        "addressType": "bin",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "47e949c5acc19ece"
            ]
        ]
    },
    {
        "id": "47e949c5acc19ece",
        "type": "ui_gauge",
        "z": "d2ab3aa4da536f58",
        "name": "",
        "group": "bf3bb3f9d639b54c",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "RMS Meter",
        "label": "dBu",
        "format": "{{value}}",
        "min": "-30",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "699ebebb1763f7a4",
        "type": "comment",
        "z": "d2ab3aa4da536f58",
        "name": "Gain example",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "6a9f20bc48664b6d",
        "type": "ui_text",
        "z": "d2ab3aa4da536f58",
        "group": "bf3bb3f9d639b54c",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "gain fb",
        "label": "",
        "format": "{{msg.payload}}dB",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "452ed4c5da9c7ed8",
        "type": "soundweb-server",
        "host": "10.0.0.234",
        "port": "1023",
        "connection_logging": true,
        "communication_logging": false
    },
    {
        "id": "bf3bb3f9d639b54c",
        "type": "ui_group",
        "name": "Gain",
        "tab": "7d1e9ef79062113d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d1e9ef79062113d",
        "type": "ui_tab",
        "name": "BSS Soundweb",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]