examples/ex_soundweb-percent.json
[
    {
        "id": "dcc82e90063b7d69",
        "type": "tab",
        "label": "soundweb-percent",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b7b9d58a4add5c4",
        "type": "junction",
        "z": "dcc82e90063b7d69",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "64a22bbbf00e6043"
            ]
        ]
    },
    {
        "id": "64a22bbbf00e6043",
        "type": "soundweb-percent",
        "z": "dcc82e90063b7d69",
        "name": "",
        "topic": "",
        "server": "5360e8d16d24bed6",
        "address": "[0,9,3,0,1,0,78,32]",
        "addressType": "bin",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "192ce9168c51052f"
            ]
        ]
    },
    {
        "id": "412b5ff477d8a695",
        "type": "inject",
        "z": "dcc82e90063b7d69",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "2b7b9d58a4add5c4"
            ]
        ]
    },
    {
        "id": "192ce9168c51052f",
        "type": "debug",
        "z": "dcc82e90063b7d69",
        "name": "soundweb-percent",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "d974b7ba0d93822b",
        "type": "inject",
        "z": "dcc82e90063b7d69",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "2b7b9d58a4add5c4"
            ]
        ]
    },
    {
        "id": "97031a3c7731d82f",
        "type": "inject",
        "z": "dcc82e90063b7d69",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "2b7b9d58a4add5c4"
            ]
        ]
    },
    {
        "id": "c7ee133cd1f32866",
        "type": "comment",
        "z": "dcc82e90063b7d69",
        "name": "Control by setting a percentage value",
        "info": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "5360e8d16d24bed6",
        "type": "soundweb-server",
        "host": "10.0.0.234",
        "port": "1023"
    }
]