examples/ex_soundweb-presets.json
[
    {
        "id": "748242db03ab0c24",
        "type": "tab",
        "label": "Presets",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2661d2125651aeb9",
        "type": "junction",
        "z": "748242db03ab0c24",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "d468009d0f201754"
            ]
        ]
    },
    {
        "id": "1c3ad718a0a58de4",
        "type": "junction",
        "z": "748242db03ab0c24",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "3adde43106b84b26"
            ]
        ]
    },
    {
        "id": "d468009d0f201754",
        "type": "soundweb-parameterPresets",
        "z": "748242db03ab0c24",
        "name": "",
        "topic": "",
        "server": "452ed4c5da9c7ed8",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "a56686efc5886604",
        "type": "ui_button",
        "z": "748242db03ab0c24",
        "name": "",
        "group": "468ac21e0d32a8e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Preset 0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "2661d2125651aeb9"
            ]
        ]
    },
    {
        "id": "900fcf928c3cb316",
        "type": "ui_button",
        "z": "748242db03ab0c24",
        "name": "",
        "group": "468ac21e0d32a8e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Preset 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "2661d2125651aeb9"
            ]
        ]
    },
    {
        "id": "d2973e477450d7ec",
        "type": "ui_button",
        "z": "748242db03ab0c24",
        "name": "",
        "group": "468ac21e0d32a8e4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Preset 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "2661d2125651aeb9"
            ]
        ]
    },
    {
        "id": "68dd21b95d7593be",
        "type": "ui_button",
        "z": "748242db03ab0c24",
        "name": "",
        "group": "468ac21e0d32a8e4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Preset 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "2661d2125651aeb9"
            ]
        ]
    },
    {
        "id": "3adde43106b84b26",
        "type": "soundweb-venuePresets",
        "z": "748242db03ab0c24",
        "name": "",
        "topic": "",
        "server": "452ed4c5da9c7ed8",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "1b8914ed86493b5e",
        "type": "ui_button",
        "z": "748242db03ab0c24",
        "name": "",
        "group": "62bb4bb26496d012",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Preset 0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "1c3ad718a0a58de4"
            ]
        ]
    },
    {
        "id": "5721f58c69d98aee",
        "type": "ui_button",
        "z": "748242db03ab0c24",
        "name": "",
        "group": "62bb4bb26496d012",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Preset 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "1c3ad718a0a58de4"
            ]
        ]
    },
    {
        "id": "78173526ceb28fa8",
        "type": "comment",
        "z": "748242db03ab0c24",
        "name": "Preset example",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "452ed4c5da9c7ed8",
        "type": "soundweb-server",
        "host": "10.0.0.234",
        "port": "1023",
        "connection_logging": true,
        "communication_logging": false
    },
    {
        "id": "468ac21e0d32a8e4",
        "type": "ui_group",
        "name": "Parameter Presets",
        "tab": "7d1e9ef79062113d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62bb4bb26496d012",
        "type": "ui_group",
        "name": "Venue Presets",
        "tab": "7d1e9ef79062113d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d1e9ef79062113d",
        "type": "ui_tab",
        "name": "BSS Soundweb",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]